doctype html
html
  head
    include shared/head
  body.driver(style="background-image: url('http://lorempixel.com/g/1920/1080')")
    .main.aside-closed
      include shared/aside

      .content
        .driver-gallery

          a.prev-driver.driver-nav(href="javascript:void(0);")
            i.icon-arrow
            img(src="http://lorempixel.com/g/172/100")

          a.next-driver.driver-nav(href="javascript:void(0);")
            img(src="http://lorempixel.com/g/172/100")
            i.icon-arrow

    include shared/footer
