doctype html
html
  head
    include shared/head
  body.driver(style="background-image: url('http://lorempixel.com/g/1920/1080')")
    .main.aside-closed
      include shared/aside

      .content

    include shared/footer
