doctype html
html
  head
    include shared/head
  body.no-route-info
    .main
      include shared/aside

      .content
        .wysiwyg-content
          h1 О проекте

          p Проект «Drivers of the World» начинался как простая серия фотографий водителей в рамках одного путешествия автостопом по России, Средней Азии и Азиатским странам. Но уже буквально через несколько недель в дороге перерос в нечто большее. Мы поняли, что за этими фотографиями открывается не просто повествование о добрых людях, а целая философия альтруистической природы человека.
          p По дороге мы встречали множество людей: простых путников, профессиональных водителей и людей, никак не связанных с дорогой. И все стремились нам помочь по мере своих возможностей. Этот факт открыл перед нами целый мир, в котором в людях, не смотря на заметно возросший эгоизм в целом, все еще есть та доброта и любовь, а которой многие из нас скучают.

          h2 О названии проекта

          p Название возникло как-то само собой и довольно быстро. У нас родилось две концепции смысла, которые очень хорошо отражаются как в английской версии, так и в русской.
          p Буквальное прочтение названия подразумевает именно то, что вы читаете. Эта серия фотографий собирает в себе всех водителей, которые подвозили нас в путешествии. Это не совсем водители со всего мира, но в будущем серия будет пополняться и вполне может стать таковой.
          p Глобально-переносное прочтение название говорит нам о том, что это водител мира, в плане добродетели и альтруизма. Это водители, которые бескорысно стараются помочь путникам. Это люди, которые делают планету более мирной и светлой.

    include shared/footer
