aside.aside.aside-closed
  a.logo(href="#")
    img.logo-full(src="images/logo_full.svg", width="214", height="70")
    img.logo-small(src="images/logo_small.svg", width="46", height="46")

  nav.nav
    ul.nav-list
      li.nav-item
        a.nav-link(href="javascript:void(0);")
          | О проекте
      li.nav-item.active
        | Все водители
      li.nav-item
        a.nav-link(href="javascript:void(0);")
          | Выставка
      li.nav-item
        a.nav-link(href="javascript:void(0);")
          | Альбом
