aside.aside
  a.logo(href="#")
    img.logo-full(src="images/logo_full.svg", width="214", height="70")
    img.logo-small(src="images/logo_small.svg", width="46", height="46")

  nav.nav
    ul.nav-list
      li.nav-item
        a.nav-link(href="javascript:void(0);")
          | О проекте
      li.nav-item.active
        | Все водители
      li.nav-item
        a.nav-link(href="javascript:void(0);")
          | Выставка
      li.nav-item
        a.nav-link(href="javascript:void(0);")
          | Альбом

  .route-summary
    h1.route-driver-name Тынгыз

    a.route-namelink(href="javascript:void(0);") Нижний Новгород — Йошкар-Ола

    p Один из примеров доброты дальнобойщиков. Мы прекрасно и весело пообщались, рассказали друг другу много историй. Тынгыз проявил инициативу, и нашел нам следующую машину по рации уже под вечер, когда мы могли застрять.

    nav.route-service-links
      ul
        li
          a(href="javascript:void(0);") Водитель крут
        li
          a(href="javascript:void(0);") Показать друзьям
