.wysiwyg-content
  padding 42px

  h1, h2
    margin-top 0

  h1
    font-size 36px
    line-height 43px
    font-weight 400

  h2
    font-size 24px
    line-height 28px
    font-weight 400

  p
    font-size 18px
    line-height 21px
    font-weight 300

  p + h2
    padding-top 90px
